/* header.css */

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1919;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .app-logo {
    display: flex;
    align-items: center;
  }
  
  .app-logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .app-logo h1 {
    font-size: 28px;
    color: #00ff00;
    font-weight: bold;
    font-family: Courier, monospace; /* Add font-family property */
  }
  
  .creator-link a {
    font-size: 18px;
    color: #00ff00;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .creator-link a:hover {
    color: #4caf50;
  }
  